*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    min-height: 100svh;
    max-height: 100svh;
}
header{
    width: 100%;
    height: 80px;
    min-height: 80px;
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search{
    display: flex;
    width: 90%;
    gap: 10px;
}
.search input{
    flex-grow: 1;
    padding: 5px;
}
.search button{
    padding: 5px;
    cursor: pointer;
}
main{
    width: 100%;
    max-width: 500px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    border-top: 1px solid;
    border-bottom: 1px solid;
}
table{
    border: 1px solid;
    border-collapse: collapse;
}
td{
    border: 1px solid;
    text-align: center;
    padding: 5px;
}

footer{
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 500px;
    gap: 20px;
}
footer button{
    padding: 5px 15px;
    cursor: pointer;
}