*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    max-width: 100vw;
    min-height: 100svh;
    max-height: 100svh;
    text-align: center;
    background-color: #f5f5f5;
    color: #333;
}

header{
    width: 100%;
    min-height: 80px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 5px;
    padding-bottom: 15px;
    background-color: #4a90e2;
    color: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.search-area{
    display: flex;
    justify-content: center;
    width: 100%;
}
.search{
    display: flex;
    width: 90%;
    gap: 10px;
}

.search input{
    flex-grow: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search button{
    padding: 5px;
    cursor: pointer;
    background-color: #44bda3;
    border: none;
    border-radius: 4px;
    color: white;
}

main{
    width: 100%;
    max-width: 500px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: #ffffff;
}

table{
    border: 1px solid #ddd;
    border-collapse: collapse;
    width: 95%;
    margin: 10px auto;
}

td{
    border: 1px solid #ddd;
    text-align: center;
    padding: 5px;
    background-color: #f9f9f9;
}

footer{
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 500px;
    gap: 20px;
}

footer button{
    padding: 5px 15px;
    cursor: pointer;
    background-color: #4a90e2;
    border: none;
    border-radius: 4px;
    color: white;
}

